<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huppsi</title>
    <link rel="stylesheet" href="public/css/indexStyles.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="views/Events.ejs">Events</a>
                    <ul>
                        <li><a href="views/CreateEvent.ejs">Create Event</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Upcoming Events</h2>
        <ul>
            <% if (events && events.length > 0) { %>
                <% events.forEach(event => { %>
                    <li>
                        <h3><%= event.eventName %></h3>
                        <p>Organizer: <%= event.organizerUsername %></p>
                        <p>Description: <%= event.description %></p>
                        <a href="Event/EventDetails/<%= event.id %>.html">View Details</a>
                    </li>
                <% }); %>
            <% } else { %>
                <p>No upcoming events found.</p>
            <% } %>
        </ul>
    </main>
</body>
</html>

